<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Strona startowa</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>lista ostatnio zapisanych kursów oraz zajęć (drafts and archives)</p>
        <p><a href="#/courses">lista kursów</a></p>
        <p><a href="#/classes">lista lekcji</a></p>
        <p><a href="#/courses/add">Dodaj kurs</a></p>
        <p><a href="#/classes/add">Dodaj lekcję</a></p>
    </md-card-content>
</md-card>