@model IEnumerable<eWarsztaty.Web.Models.ViewModels.UzytkownicyListView>
@using eWarsztaty.Web.Models.ViewModels
@using GridMvc.Html
@using eWarsztaty.Web.Infrastructure
@{
    ViewBag.Title = "Index";
}

<h2>Zarządzanie użytkownikami</h2>
@helper CustomRenderingOfColumn(UzytkownicyListView uzytkownik)
{
    @*Html.ActionLink("Usun", "Delete", "Uzytkownicy", new { uzytkownikId = uzytkownik.UzytkonikId }, null)*@
    @*Html.ActionLink("Usun", "Delete", "Uzytkownicy", new { uzytkownikId = uzytkownik.UzytkonikId }, null)*@
    foreach (var rola in uzytkownik.Role)
    {
        <p>@rola.Nazwa</p>
    }
}

<div style="align-content:center; margin-top: 30px">
    @(Html.Grid(Model).Named("gridKursy").Columns(columns =>
                    {
                        columns.Add(c => c.UzytkownikId, true);
                        columns.Add(c => c.Login).Titled("Nazwa użytkownika");
                        columns.Add(c => c.AdresEmail).Titled("Adres Email");
                        if (ViewContext.Controller.HasPermission("Role-Index"))
                            columns.Add().Titled("Rola").Sanitized(false).Encoded(false).RenderValueAs(o => CustomRenderingOfColumn(o));
                        if (ViewContext.Controller.HasPermission("Uzytkownicy-Detail"))
                            columns.Add().Titled("Edytuj").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edytuj", "Detail", "Uzytkownicy", new { uzytkownikId = o.UzytkownikId }, null).ToHtmlString());
                        if (ViewContext.Controller.HasPermission("Uzytkownicy-Delete"))
                            columns.Add().Titled("Usun").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Usun", "Delete", "Uzytkownicy", new { uzytkownikId = o.UzytkownikId }, null).ToHtmlString()).Css("a:link {  color: #FF0000;}");
                    }).WithPaging(5)
                    .Sortable(true)
                    .Filterable(true))
</div>
<br />
@if (ViewContext.Controller.HasPermission("Uzytkownicy-Save"))
{ 
    <div style="text-align: center;">
        @using (Html.BeginForm("Detail", "Uzytkownicy"))
        {
            <input type="submit" value="Dodaj użytkownika" />
        }
    </div>
}