
<md-card>
    <md-card-title>
        <h1>Lista lekcji</h1>
    </md-card-title>
    <md-card-content>
        <a href="#/classes/add">Dodaj lekcję</a></p>
        <h4>Drafts</h4>
        <ul>
            <li>LEKCJA 11 - WIATRAKI <a href="#/classes/11/edit">edytuj</a><button>usuń</button><a href="#/classes/11">rozpocznij</a></li>
            <li>LEKCJA 12 - KROWY <a href="#/classes/12/edit">edytuj</a><button>usuń</button><a href="#/classes/12">rozpocznij</a></li>
        </ul>
        <h4>Archives</h4>
        <ul>
            <li>LEKCJA 3 - MOKASYNY <a href="#/classes/3/edit">edytuj</a><button>usuń</button><a href="#/classes/3">rozpocznij</a></li>
            <li>LEKCJA 4 - PANDY <a href="#/classes/4/edit">edytuj</a><button>usuń</button><a href="#/classes/4">rozpocznij</a></li>
        </ul>
    </md-card-content>
</md-card>
