
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Lista warsztatów</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-button><a href="#/classes/add">Dodaj nowy warsztat</md-button>
        <md-divider class="divider-padded"></md-divider>
        <md-subheader class="md-no-sticky">Planowane warsztaty:</md-subheader>
        <md-list>
            <md-list-item
                    class="md-2-line"
            >
                <div class="md-list-item-text">
                    <h3 class="ng-binding">Wprowadzenie do nierelacyjnych baz danych</h3>
                    <p class="ng-binding">krótki opis danej lekcji</p>
                </div>
                <md-icon
                        class="material-icons list-icon-big">
                    <md-tooltip md-direction="top">Edytuj warsztat</md-tooltip>
                    edit
                </md-icon>
                <md-icon
                        class="material-icons list-icon-big">
                    <md-tooltip md-direction="top">Usuń warsztat</md-tooltip>
                    delete
                </md-icon>
                <md-icon
                        class="material-icons list-icon-big">
                    <md-tooltip md-direction="top">Rozpocznij warsztat</md-tooltip>
                    play_arrow
                </md-icon>
            </md-list-item>
            <md-list-item
                    class="md-2-line"
            >
                <div class="md-list-item-text">
                    <h3 class="ng-binding">Wprowadzenie do nierelacyjnych baz danych</h3>
                    <p class="ng-binding">krótki opis danej lekcji</p>
                </div>
                <md-icon
                        class="material-icons list-icon-big">
                    <md-tooltip md-direction="top">Edytuj warsztat</md-tooltip>
                    edit
                </md-icon>
                <md-icon
                        class="material-icons list-icon-big">
                    <md-tooltip md-direction="top">Usuń warsztat</md-tooltip>
                    delete
                </md-icon>
                <md-icon
                        class="material-icons list-icon-big">
                    <md-tooltip md-direction="top">Rozpocznij warsztat</md-tooltip>
                    play_arrow
                </md-icon>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-divider class="divider-padded"></md-divider>
    <md-card-content>
        <md-subheader class="md-no-sticky">Archiwalne warsztaty:</md-subheader>
        <md-list>
            <md-list-item
                    class="md-2-line"
            >
                <div class="md-list-item-text">
                    <h3 class="ng-binding">Wprowadzenie do nierelacyjnych baz danych</h3>
                    <p class="ng-binding">krótki opis danej lekcji</p>
                </div>
                <md-icon
                        class="material-icons list-icon-big">
                    <md-tooltip md-direction="top">Edytuj warsztat</md-tooltip>
                    edit
                </md-icon>
                <md-icon
                        class="material-icons list-icon-big">
                    <md-tooltip md-direction="top">Usuń warsztat</md-tooltip>
                    delete
                </md-icon>
            </md-list-item>
            <md-list-item
                    class="md-2-line"
            >
                <div class="md-list-item-text">
                    <h3 class="ng-binding">Wprowadzenie do nierelacyjnych baz danych</h3>
                    <p class="ng-binding">krótki opis danej lekcji</p>
                </div>
                <md-icon
                        class="material-icons list-icon-big">
                    <md-tooltip md-direction="top">Edytuj warsztat</md-tooltip>
                    edit
                </md-icon>
                <md-icon
                        class="material-icons list-icon-big">
                    <md-tooltip md-direction="top">Usuń warsztat</md-tooltip>
                    delete
                </md-icon>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>