<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://ewarsztaty.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>ewarsztaty.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eWarsztaty</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$eWarsztaty</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="eWarsztaty.Web.Infrastructure.WarsztatyDb" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:c0pak2andl.database.windows.net,1433;Initial Catalog=eWarsztatyFinalDB;User ID=Trav3eL@c0pak2andl;Password=MarWin17" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="eWarsztaty.Web.Infrastructure.WarsztatyDb, eWarsztaty.Web" MigrationConfiguration="eWarsztaty.Web.Infrastructure.Configuration, eWarsztaty.Web" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="eWarsztaty.Web.Models.UsersContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eWarsztaty.Web.Models.UsersContext, eWarsztaty.Web" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=KOSZARY-PC\SQLEXPRESS;AttachDbFilename=|DataDirectory|\eWarsztatyAZURET.mdf;Initial Catalog=eWarsztatyAZURET;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=KOSZARY-PC\SQLEXPRESS;Initial Catalog=eWarsztatyAZURET;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\eWarsztatyAZURET.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eWarsztaty.Web.Infrastructure.WarsztatyDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:c0pak2andl.database.windows.net,1433;Initial Catalog=eWarsztatyFinalDB;User ID=Trav3eL@c0pak2andl;Password=MarWin17</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eWarsztaty.Web.Models.UsersContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="eWarsztaty.Web.Infrastructure.WarsztatyDb" />
    <_ConnectionStringsToInsert Include="eWarsztaty.Web.Models.UsersContext" />
  </ItemGroup>
</Project>