<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ewarsztaty.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ewarsztaty.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eWarsztaty</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eWarsztaty</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:c0pak2andl.database.windows.net,1433;Initial Catalog=eWarsztatyFinalDB;User ID=Trav3eL@c0pak2andl;Password=MarWin17" Name="Data Source=tcp:c0pak2andl.database.windows.net,1433;Initial Catalog=eWarsztatyFinalDB;User Id=Trav3eL@c0pak2andl;Password=MarWin17" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="eWarsztaty.Web.Infrastructure.eWarsztatyContext, eWarsztaty.Web" MigrationConfiguration="eWarsztaty.Web.Infrastructure.Configuration, eWarsztaty.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:c0pak2andl.database.windows.net,1433;Initial Catalog=eWarsztatyFinalDB;User Id=Trav3eL@c0pak2andl;Password=MarWin17</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>