@model List<PlikiListView>
@using eWarsztaty.Web.Models.ViewModels
@using eWarsztaty.Web.Helpers
@using GridMvc.Html
@using eWarsztaty.Web.Infrastructure
@helper CustomRenderingOfColumnPodglad(PlikiListView plik)
{
    <a href"" style="color: #333; cursor: pointer; " onclick="DownloadExercise('@plik.PlikId', '@User.Identity.Name')">Pobierz</a>
}
<label>Zadania</label>
@(Html.Grid(Model).Named("gridZadania").Columns(columns =>
    {
        columns.Add(c => c.Nazwa).Titled("Nazwa zadania");
        columns.Add(c => c.PlikId).Css("").Titled("Operacja").Sanitized(false).Encoded(false).RenderValueAs(o => CustomRenderingOfColumnPodglad(o));
    }).WithPaging(10)
    .Sortable(true)
    .Selectable(true)) 
