@model OcenyView
@using eWarsztaty.Web.Models.ViewModels
@using GridMvc.Html
@using eWarsztaty.Web.Infrastructure
@{
    ViewBag.Title = "Oceny";
}

<h2>Oceny</h2>
@using (Html.BeginForm("OcenySave", "Warsztaty", Model))
{
       @Html.HiddenFor(model => model.WarsztatId)
<table style="width:100%">
    
        @for (int i = 0; i < Model.Oceny.Length; i++)
        {
            <tr>
               <td>@Model.Uzytkownicy[i].Login</td>
               <td><input type="text" style="width: 100px" name="Oceny" value="@Model.Oceny[i]" /></td>   
            </tr>
        }
</table>
<br />
<p>
    <input type="submit" value="Zapisz Oceny" />
</p>
}
