<md-list>
    <md-list-item ng-repeat="course in cc.courses">
        <md-card ng-click="cc.goToCourse(course)" class="list-element">
            <div class="card-cover" id="cover-{{course.id}}"></div>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{course.name}}</span>
                </md-card-title-text>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button to-right"
                               ng-click="$mdOpenMenu($event)">
                        <md-icon class="material-icons">more_horiz</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="cc.editCourse(course);$event.stopPropagation()">
                                <div layout="row" flex="">
                                    <md-icon class="md-icom">edit_mode</md-icon>
                                    <p flex="">edytuj</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="cc.deleteCourse(course);$event.stopPropagation()">
                                <div layout="row" flex="">
                                    <md-icon class="md-icom">delete</md-icon>
                                    <p flex="">usuń</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-card-title>
            <md-card-content>
                <p>{{course.description}}</p>
            </md-card-content>
        </md-card>
    </md-list-item>
</md-list>
