<md-card>
    <div class="card-cover" id="cover-{{cc.selected.id}}"></div>
    <form class="md-inline-form" layout="column">
        <md-card-content>
                <md-input-container class="ng-pristine ng-valid md-input ng-touched" flex-gt-sm>
                    <label>Nazwa kursu</label>
                    <input ng-model="cc.selected.name" class="title"/>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Opis</label>
                    <textarea ng-model="cc.selected.description" rows="5" md-select-on-focus=""></textarea>
                </md-input-container>
                <md-card-title-text>
                    <span class="md-headline">Dołączone pliki</span>
                </md-card-title-text>
            <div layout="row">
                <table>
                    <tr>
                        <td>Nazwa pliku</td>
                        <td>Rozmiar pliku</td>
                        <td>Edycja</td>
                    </tr>
                    <tr ng-repeat="file in cc.selected.files">
                        <td>{{file.name}}</td>
                        <td>{{file.size}}</td>
                        <td>
                            <md-icon class="material-icons">delete</md-icon>
                        </td>
                    </tr>
                </table>
            </div>
            <md-divider class="divider-padded"></md-divider>

            <div layout="row" layout-align="end center">
                <md-button ng-click="cc.updateCourse()" class="md-primary add-button">
                    <md-icon class="material-icons icon-button">edit_mode</md-icon>Zapisz zmiany
                </md-button>
            </div>
        </md-card-content>
    </form>
</md-card>
