<md-card>
    <form name="createCourseForm" ng-if="!ctrl.isUserEnrolled">
        <md-card-content>
            <h1>{{ctrl.course.name}}</h1>
            <p>{{ctrl.course.description}}</p>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Hasło dostępu</label>
                    <input ng-model="ctrl.userEnrollmentKey" md-maxlength="20" />
                </md-input-container>
            </div>
            <div layout="row" layout-align="end center">
                <md-button ng-click="ctrl.enrollCourse()" class="md-primary md-raised"
                           ng-disabled="createCourseForm.$invalid">
                    <md-icon class="material-icons icon-button">add</md-icon>zapisz się
                </md-button>
            </div>
        </md-card-content>
    </form>
    <md-card-content ng-if="ctrl.isUserEnrolled">
        <span class="md-headline"> Witaj jesteś zapisany w {{ctrl.course.name}}</span>
            <div layout="row" layout-align="end center">
                <md-button ng-click="ctrl.leaveCourse()" class="md-primary md-raised"
                           ng-disabled="createCourseForm.$invalid">
                    <md-icon class="material-icons icon-button">close</md-icon>wypisz się
                </md-button>
            </div>
</md-card-content>
</md-card>
<md-card ng-if="ctrl.isUserEnrolled">
    <md-card-title>
        <md-card-title-text layout="row" layout-align="space-between center">
            <span class="md-headline">{{ctrl.course.name}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p class="course-description">{{ctrl.course.description}}</p>
        <md-subheader class="md-no-sticky">Warsztaty:</md-subheader>
        <md-list>
            <md-list-item class="md-2-line"
                          ng-repeat="topic in ctrl.course.topics"
                          ui-sref="topicDetails({courseId: course.id, topicId: topic.id})">
                <img ng-src="assets/img/avatar-1.gif" class="md-avatar" alt="{{item}}">
                <div class="md-list-item-text">
                    <h3>{{topic.name}}</h3>
                    <p>{{topic.description}}</p>
                </div>
                <md-button class="md-icon-button to-right button-list"
                           ui-sref="topicUserView({courseId: ctrl.course.id, topicId: topic.id})">
                    <md-icon class="material-icons" style="font-size: 32px; margin-top: -6px">
                        <md-tooltip md-direction="top">Dołącz do warsztatu</md-tooltip>play_arrow
                    </md-icon>
                </md-button>
            </md-list-item>
        </md-list>
        <p class="empty-list" ng-if="ctrl.course.topics.length == 0">brak warsztatów</p>
        <md-divider class="divider-padded"></md-divider>
        <md-subheader class="list-header">Do pobrania:</md-subheader>
        <md-list>
            <md-list-item ng-repeat="file in ctrl.course.files"
                          ng-click="ctrl.fileDownload(file)">
                <md-icon class="material-icons list-icon"> description </md-icon>
                <p>{{file.name}}<span class="download-size">({{file.size}} KB)</span></p>
            </md-list-item>
        </md-list>
        <p class="empty-list" ng-if="ctrl.course.files.length == 0">brak plików</p>
    </md-card-content>
</md-card>
