<md-card>
    <form>
        <md-card-content id="popupContainer">
            <div layout="row">
                <md-input-container class="ng-pristine ng-valid md-input ng-touched" flex-gt-sm>
                    <label>Nazwa warsztatu</label>
                    <input ng-model="tc.selected.name" class="title" />
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>Opis</label>
                    <textarea ng-model="tc.selected.description" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Wybór tematyki</label>
                <md-select placeholder="Wybór tematyki" ng-model="tc.selected.courseId">
                    <md-option ng-value="0">Brak tematyki</md-option>
                    <md-option ng-value="course.id" ng-repeat="course in tc.courses">{{course.name}}</md-option>
                </md-select>

            </md-input-container>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Hasło dostępu</label>
                    <input ng-model="tc.selected.password" md-maxlength="20" />
                </md-input-container>
            </div>

            <!--			<div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm >
                            <label>Data rozpoczecia warsztatu</label>
                            <input ng-model="cc.startdate"/>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm >
                            <label>Długosc warsztatu</label>
                            <input ng-model="cc.duration"/>
                        </md-input-container>
                    </div>-->

            <md-divider class="divider-padded"></md-divider>
            <div layout="row">
                <md-card-title-text>
                    <span class="md-headline">Dołączone pliki</span>
                </md-card-title-text>
            </div>
            <div layout="row">
                <table>
                    <tr>
                        <td>Nazwa pliku</td>
                        <td>Rozmiar pliku</td>
                        <td>Edycja</td>
                    </tr>-
                    <tr ng-repeat="file in tc.selected.files">
                        <td>{{file.name}}</td>
                        <td>{{file.size}}</td>
                        <td>
                            <md-icon class="material-icons">delete</md-icon>
                        </td>
                    </tr>
                </table>
            </div>

            <div layout="row" layout-align="end center">
                <md-button class="md-primary add-button">
                    <md-icon class="material-icons icon-button">add</md-icon>dodaj pliki
                </md-button>
            </div>

            <md-divider class="divider-padded"></md-divider>
            <div layout="row" layout-align="end center">
                <md-button ng-click="tc.updateTopic()" class="md-primary add-button">
                    <md-icon class="material-icons icon-button">edit_mode</md-icon>Zapisz zmiany
                </md-button>
            </div>
            <!--<md-button ng-click="cc.editClass(cc.selected)">Zapisz</md-button>-->
        </md-card-content>
    </form>
</md-card>