<md-card>
    <md-card-title>
<!--<<<<<< HEAD
        <md-card-title-text layout="row" layout-align="space-between center">
            <span class="md-headline">{{ctrl.topic.name}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-divider class="divider-padded"></md-divider>
        <div style="height:400px; background: #808080"></div>
        <p class="course-description">{{ctrl.topic.description}}</p>
        <md-divider class="divider-padded"></md-divider>
        <md-subheader class="list-header">Do pobrania:</md-subheader>
        <md-list>
            <md-list-item ng-repeat="file in ctrl.topic.files"
                          ng-click="ctrl.fileDownload(file)">
=======-->
        <md-card-title-text>
            <md-card-title-text layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row">
                <span class="md-headline ng-binding">{{ctrl.topic.name}}</span>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button to-right"
                               ng-click="$mdOpenMenu($event)">
                        <md-icon class="material-icons">more_horiz</md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <p class="md-menu-header">Warsztat:</p>
                        <md-menu-item>
                            <md-button ng-click="tc.goToUpdateCourse(tc.selected)">
                                <div layout="row" flex="">
                                    <md-icon class="md-icom">edit_mode</md-icon>
                                    <p flex="">edytuj</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="closeTopic()">
                                <div layout="row" flex="">
                                    <md-icon class="md-icom">highlight_off</md-icon>
                                    <p flex="">zakończ</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>
                                <div layout="row" flex="">
                                    <md-icon class="md-icom">people</md-icon>
                                    <p flex="">grupy</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>
                                <div layout="row" flex="">
                                    <md-icon class="md-icom">laptop</md-icon>
                                    <p flex="">pulpity</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-card-title-text>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>

        <pdf-draw class="wrapper" ng-controller="DocCtrl"></pdf-draw>
        <pencilcase model="colors" selected="selectedColor"></pencilcase>

        <md-divider class="divider-padded"></md-divider>
        <div layout="row" flex="" class="row">
            <div layout="col-sm-2" flex="" class="col-sm-2">
                <p>prezentuje: {{tc.selected.whoIsPresenting}}</p>
            </div>
            <div layout="col-sm-2" layout-align="end center" class="layout-align-end-center col-sm-2">
                <md-button ng-click="" class="md-primary md-raised" ng-show="!ctrl.topic.selected.amIPresenting">
                    <md-icon class="material-icons icon-button">laptop</md-icon>Prezentuj puplit
                </md-button>
                <md-button ng-click="" class="md-primary md-raised" ng-show="ctrl.topic.selected.amIPresenting">
                    <md-icon class="material-icons icon-button">laptop</md-icon>Zakończ prezentowanie tego pulpitu
                </md-button>
            </div>
        </div>
        <md-divider class="divider-padded"></md-divider>
        <div layout="row" flex="">
            <p>{{ctrl.topic.description}}</p>
        </div>
        <md-divider class="divider-padded"></md-divider>
        <md-subheader class="list-header">Pliki:</md-subheader>
        <md-list>
            <md-list-item ng-repeat="file in ctrl.topic.files">
                <md-icon class="material-icons list-icon"> description </md-icon>
                <p>{{file.name}}<span class="download-size">({{file.size}} KB)</span></p>
            </md-list-item>
        </md-list>
        <p class="empty-list" ng-if="ctrl.topic.files.length == 0">brak plikow</p>
        <md-divider ng-if="ctrl.isATeacherOrAdmin" class="divider-padded"></md-divider>
        <md-subheader  ng-if="ctrl.isATeacherOrAdmin" class="list-header">Podglad uczestników:</md-subheader>

        <md-grid-list ng-if="ctrl.isATeacherOrAdmin" md-row-height="250px" md-cols="3" md-gutter="100px">
            <md-grid-tile ng-repeat="participant in activeParticipants" class="repeated-item">
                <img data-ng-src="data:image/png;base64,{{participant.base64Image}}" err-src="assets/img/noScreen.jpg" ng-click="fullScreenWatch($event, participant)" />
                <!--<img width="300" height="225" data-ng-src="assets/img/noScreen.jpg" ng-click="fullScreenWatch($event, participant)"/>-->
                <md-grid-tile-footer>
                    {{participant.login}}
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>

        <div ng-if="ctrl.isATeacherOrAdmin" style="visibility: hidden">
            <div class="md-dialog-container" id="watchFullScreenDialog">
                <md-dialog>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>{{ activeParticipant.login }}</h2>
                            <span flex></span>
                            <!--<md-button class="md-icon-button" ng-click="closeDialog()">
                                <md-icon md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                            </md-button>-->
                        </div>
                    </md-toolbar>
                    <div layout-padding>
                        <p>
                            <img width="1068" height="600" data-ng-src="data:image/png;base64,{{activeParticipant.base64Image}}" data-err-src="images/png/avatar.png" />
                        </p>
                    </div>
                </md-dialog>
            </div>
        </div>
        <p class="empty-list" ng-if="activeParticipants.length == 0">brak aktywnych uczestników</p>
    </md-card-content>
</md-card>
