@model IEnumerable<eWarsztaty.Web.Models.ViewModels.RoleListView>
@using eWarsztaty.Web.Infrastructure
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>Zarządzanie Rolami</h2>
<div style="align-content:center; margin-top: 30px">
    @(Html.Grid(Model).Named("gridKursy").Columns(columns =>
                    {
                        columns.Add(c => c.RolaId, true);
                        columns.Add(c => c.Nazwa).Titled("Nazwa");
                        columns.Add(c => c.Opis).Titled("Opis");
                        if (ViewContext.Controller.HasPermission("Role-Detail"))
                            columns.Add().Titled("Edytuj").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edytuj", "Detail", "Role", new { roleId = o.RolaId }, null).ToHtmlString()).Css("a:link {  color: #FF0000;}");
                        if (ViewContext.Controller.HasPermission("Role-Delete"))
                            columns.Add().Titled("Usun").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Usun", "Delete", "Role", new { roleId = o.RolaId }, null).ToHtmlString()).Css("a:link {  color: #FF0000;}");
                    }).WithPaging(5)
                    .Sortable(true)
                    .Filterable(true))
</div>
<br/>
@if (ViewContext.Controller.HasPermission("Role-Save"))
{ 
    <div style="text-align: center;">
        @using (Html.BeginForm("Detail", "Role"))
        {
            <input type="submit" value="Dodaj nową role" />
        }
</div>
}
